body {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: aliceblue;
  #min-width: 320px;
  #min-height: 100vh;
}

a {
  text-decoration: none;
}
ol {
  list-style-type: none
}

.ais-SearchBox {
  flex: 1
}

.ais-Hits {
  flex: 1
}
